* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article, section {  
	display: block;  
}

body {
	width: 80%;
	margin: 0 auto;

	color: #777777;
	background: #FFFAE7;

	font-family: 'Helvectica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #777777;
}

header {
	margin-top: 20px;
	color: #777777;
}

header h1 { 
	width: 50%;
	float: left;

	font-size: 250%;
	font-weight: bold;
}

header h1 a {
	text-decoration: none;
}

header span {
	width: 40%;
	float: right;
	text-align: right;
	font-size: 80%;
	font-weight: bold;	
}

header span#notice {
	background: -webkit-gradient(linear, right center, left center, from(#F7BDA8), to(#FFFAE7));
	background: -moz-linear-gradient(right, #F7BDA8, #FFFAE7);
	background: -o-linear-gradient(right, #F7BDA8, #FFFAE7);
	
	padding: 5px;
	margin-top: 10px;
}

nav {
	margin-top: 20px;

	width: 100%;
	float: left;
	
	background: #777777;

	font-weight: bold;
}

nav ul li {
	list-style: none;
	float: left;

}

nav section#links {
	float: left;
	width: 75%;
	background: #777777;		
}

nav section#links a {
	padding: 20px;
	float: left;

	color: #fff;
	text-decoration: none;
}

nav section#links a.active, nav section#links a:hover {
	background: #F7BDA8;
}

nav section#search {
	width: 20%;
	float: right;
	text-align: right; 
	padding-right: 20px;
	padding-top: 20px;
	background: #777777;	
}

article {
	clear: both;
	background: #fff;
	padding: 20px;
}

article h1 { 
	margin-bottom: 10px;
}

article h2 {
}

article p {
	margin-top: 10px;
}

article ul {
	margin-left: 30px;
}

table.entry { 
	width: 90%; 
	margin: 20px auto;
	padding: 0px; 
	
	border: 2px solid #CADEDD;
	background: #EFF8F8;

	font-size: 110%;
}

table.entry a {
	text-decoration: none;
}

table.entry a:hover {
	text-decoration: underline;
}

.entry tr > td:first-child { 
	width: 20%;
	font-style: italic;
	color: #CADEDD;

	border-right: 1px dashed #CADEDD;
}

.entry tr > td + td { 
	padding-left: 10px; 
}

.taggable {
	cursor: pointer;
}

table#list {
	width: 100%;
}

table#list td {
	padding: 10px;
}

table#list tr:first-child {
	font-weight: bold;
}

table#list tr:nth-child(odd) {
	background-color: #EFF8F8;
}

table#phraseList { 
	text-align: left;
	width: 100%;
}

table#list tr.hover {
	background-color: #F7BDA8;
}

table#phraseList tbody:nth-child(odd) {
	background-color: #EFF8F8;
}

table#phraseList tbody.hover {
	background-color: #F7BDA8;
}

#phraseList a {
	text-decoration: none;
}

#phraseList tr > td:first-child { 
	width: 10%;
	font-style: italic;
	font-size: 80%;

	border-right: 1px dashed #CADEDD;
}

#phraseList tr > td + td { 
	padding-left: 10px; 
}

article section section section {
	width: 35%;
	float: left;

	padding: 10px;

	background: #FBFBFB;
}

article section section section p span {
	padding-right: 5px;
	padding-bottom: 5px;
	font-size: 110%;
	display: inline;
}

article section section table { 
	width: 60%; 
	float: right; 

	padding: 0px;
    border: 2px solid #CADEDD;
}

article section section select {
	width: 100%;
}

#storiesList {
	padding-top: 1px;
	padding-bottom: 1px;
}

.clear {
	clear: both;
}

.pagination {
	background: #fff;
	text-align: right;
}

.pagination a {
	text-decoration: none;
}

.current {
	color: #F7BDA8;
}

footer {
	font-size: 80%;
	text-align: center;
	padding: 20px;
}
