<h1>New story</h1>

<p>A story consists of a multiple phrases, more specifically interlinear glosses in an ordered list. You must include phrases by "tagging them" after creating a story to store them.</p>

<%= render 'form' %>

<%= link_to 'Back', language_stories_path %>
