<% title 'Search' %>
<h1>Search</h1>
<p>WebLinDa has builtin search.</p>

<% if @morphemes.any? then %>
<h2>Morphemes</h2>
<ul>
<% @morphemes.each do |morpheme| %>
	<li><%= link_to morpheme.orthography, language_morpheme_path(morpheme.language, morpheme) %></li>
<%end %>
</ul>
<% else %>
<p>No morphemes matched your search.</p>
<% end %>

<% if @lexemes.any? then %>
<h2>Lexemes</h2>
<ul>
<% @lexemes.each do |lexeme| %>
	<li><%= link_to lexeme.id, language_lexeme_path(lexeme.language, lexeme) %></li>
<%end %>
</ul>
<% else %>
<p>No lexemes matched your search.</p>
<% end %>

<% if @phrases.any? then %>
<h2>Phrases</h2>
<ul>
<% @phrases.each do |phrase| %>
	<li><%= link_to phrase.id, language_phrase_path(phrase.language, phrase) %></li>
<%end %>
</ul>
<% else %>
<p>No phrases matched your search.</p>
<% end %>