<p>WebLinDa is based largely on existing open source software.</p>

<p>
	<ul>
		<li><a href="http://ruby-lang.org">Ruby</a> &amp; <a href="http://rubyonrails.com">Ruby on Rails</a></li>
		<li><a href="https://github.com/binarylogic/authlogic">authlogic</a></li>
		<li><a href="http://bcrypt.sourceforge.net/">bcrypt</a> &amp; <a href="https://github.com/codahale/bcrypt-ruby">bcrypt-ruby</a></li>
		<li><a href="http://jquery.com/">JQuery</a></li>
		<li><a href="http://documentcloud.github.com/jammit/">Jammit</a></li>
		<li><a href="https://github.com/amatsuda/kaminari">Kaminari</a></li>
		<li><a href="http://activeadmin.info/">ActiveAdmin</a></li>
		<li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
	</ul>
</p>