<h2>Welcome to WebLinDa</h2>

<p>WebLinDa is a inter-linear gloss system designed for collecting and collaboratively editing linguistic field data.</p>

<p>WebLinDa has data collected for the following languages:</p>
<ul>
<% @languages.each do |language| %>
	<li><%= link_to language, language_path(language) %></li>
<% end %>	
</ul>

<p>WebLinDa is an <a href="https://github.com/weblinda/weblinda">open source</a> application published under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>—you're free to browse the source, and all changes are very much welcome. Please <a href="https://github.com/weblinda/weblinda/issues">report any issues</a> you encounter using the system. WebLinDa was made possible by numerous <a href="/attribution">other open source projects</a>, to which we all our our thanks.<p>